# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore node_modules in all directories
node_modules/

# Ignore dist and build directories
dist/
dist-ssr/

# Ignore environment-specific or local files
*.local

# Ignore editor directories and settings
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Specific for app and server (optional, add as needed)
app/dist/
server/dist/
app/*.log
server/*.log

server/hello.js