main {
    /* background-color: rgb(131, 131, 131); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
}

.nav-items {
    margin: 0 20px;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    /* margin-top: 20px; */
}

.app {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

.app-heading {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Inter', sans-serif; */
    margin: 0 auto;    
}

.heading1 {
    background: linear-gradient(to right, red, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading2 {
    background: linear-gradient(to right, white, rgb(149, 19, 149));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading2 {
    color: white;

}

/* .url-entry {
    background-color: green;
    max-width: 100%;
} */

.url-form {
    display: flex;
    justify-content: center;
    /* // background-color: azure; */
}

.input-url {
    height: 50px;
    border: none;
    background-color: rgb(2, 170, 170);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;    
}

.input-url::placeholder {
    color: lightgrey;    
}

.input-url:focus {
    outline: none
}

.submit-url {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.submit-url:focus {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(30, 30, 30);
    border: 2px solid black;
    outline: none;
}

.video-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.listButton {
    padding: 10px;
}

.invalid-url {
    margin-top : 10px;
    color: aliceblue;
    text-align: center;
}

.download-summary {
    background-color: white;
}

.summary-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-toggle {
    position: fixed;
}

aside {
    /* background-color: aliceblue; */
    background-color: rgb(18, 23, 28);
    position: fixed;
    width: 150px;
    top: 70px;
    bottom: 0;
    left: 0px;
    padding: 10px;
    transform: translateX(-120%); 
    transition: 0.15s ease transform;
}

aside.visible {
    transform: translateX(0);
}

#info {
    border: 1px solid rgb(1, 1, 51);
    border-radius: 3px;
    margin: 15px 0;
    background-color: rgb(37, 50, 61);
    color: aliceblue;
}

#info > * {
    padding: 0 10px;
}

#select-summary {
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    border: solid rgb(187, 187, 187);
    margin-bottom: 30px;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
}

#select-summary:hover {
    background-color: rgb(188, 188, 188);
}

#datetime {
    color: rgb(113, 113, 113);
}